body{background-color: #B933FF;}
h1{font-family: helvrtica; font-size: 50px; color: green;}
p{font-family: helvetica; font-size: 25px; color: black}
a{font-family: helvetica; font-size: 18px; color: pink; text-decoration: none;} 
